/* Variables */
@import url("src/styles/variables.css");

/* Components */
@import url("src/components/hero-section/hero-section.css");
@import url("src/components/header/header.css");
@import url("src/components/about/about.css");
@import url("src/components/advantages/advantages.css");
@import url("src/components/learning/learning.css");
@import url("src/components/pricing/pricing.css");
@import url("src/components/sign-up/sign-up.css");
@import url("src/components/footer/footers.css");

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: var(--background);
	color: var(--foreground);

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Montserrat";
}

.main {
	max-width: 1280px;
	width: auto;
	margin: 0 auto;

	position: relative;
}

@media (min-width: 1280px) {
	html {
		font-size: 16px;
	}

	:root {
		--font-size-md: 1.1rem;
		--font-size-lg: 1.3rem;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 15px;
	}

	main {
		padding: 0 15px;
	}
}

@media (max-width: 769px) {
	html {
		font-size: 14px;
	}
}

.blob2 {
	position: absolute;
	left: -10%;
	top: 20%;
	z-index: -1;

	width: 400px;
	height: 400px;
	border-radius: 15rem;
	background: radial-gradient(
			63.62% 69.52% at 100% 0%,
			rgba(247, 214, 98, 0.8) 0%,
			rgba(247, 214, 98, 0.168) 52.08%,
			rgba(247, 214, 98, 0) 100%
		),
		linear-gradient(
			208.42deg,
			#f0422a 7.46%,
			rgba(240, 88, 42, 0.18) 42.58%,
			rgba(240, 101, 42, 0) 64.13%
		),
		radial-gradient(
			114.51% 122.83% at 0% -15.36%,
			#e74f6a 0%,
			rgba(231, 79, 106, 0.22) 66.72%,
			rgba(231, 79, 106, 0) 100%
		),
		linear-gradient(
			333.95deg,
			rgba(83, 208, 236, 0.85) -7.76%,
			rgba(83, 208, 236, 0.204) 19.67%,
			rgba(138, 137, 190, 0) 35.42%
		),
		radial-gradient(
			109.15% 148.57% at 4.46% 98.44%,
			#1b3180 0%,
			rgba(27, 49, 128, 0) 100%
		),
		linear-gradient(141.57deg, #4eadeb 19.08%, rgba(78, 173, 235, 0) 98.72%);
	background-blend-mode: normal, normal, normal, normal, multiply, normal;
	filter: blur(78px);
}

@media (min-width: 300px) and (max-width: 769px) {
	html {
		font-size: 12px;
		overflow-x: hidden;

		word-break: break-word;
		hyphens: auto;
	}

	:root {
		--font-size-xxxl: 2.5rem;
	}

	.blob2,
	.advantages__blob,
	.pricing__blob,
	.pricing__blob2 {
		max-width: 90vw;
	}
}
